.TodoItem{
    padding: .5em;
    display: flex;
    align-items: center;
}
 .TodoItem>.title{
    flex-grow: 1;
    padding: 0 .5em;
}
.checkbox,button{
    cursor: pointer;
}
.checkbox{
    width: 20px;
    height: 20px;
}
button{
    font-size: 18px;
    border:none;
    background: #6b6262;
    border-radius: 4px;
    color: #fff;
}